@import '_variables';

.card-container {
  margin-top: 12px;
  padding: 24px 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: $color-darker-background;
  font-size: 14px;
  border-radius: $radius-border;
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item > p {
  margin: 0;
}

.name {
  font-weight: bold;
}

.menu-trigger {
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
  width: 30px;
  height: 10px;
}
