<div class="container">
  <div class="card-container">
    <div class="card-item">
      <p class="name">{{ clinic.name }}</p>
    </div>
    <div class="card-item">
      <p>{{ avarageEquipmentUsageRatio }}</p>
    </div>
    <div class="card-item">
      <p>{{ totalEquipmentPrice }}</p>
    </div>
    <div class="card-item">
      <p>{{ updatedAt }}</p>
    </div>
    <div class="card-item">
      <p class="menu-trigger" [matMenuTriggerFor]="menu">...</p>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Edit</button>
    <button mat-menu-item>Delete</button>
  </mat-menu>
</div>
