<div class="container">
  <form class="form" [formGroup]="clinicForm" (ngSubmit)="onSubmitClinicForm()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>İsim</mat-label>
      <input matInput formControlName="name" />
      <mat-error>error</mat-error>
    </mat-form-field>

    <div class="form-buttons">
      <button *ngIf="!id" class="form-button" mat-flat-button color="primary" type="submit">Ekle</button>
      <button *ngIf="!!id" class="form-button" mat-stroked-button color="primary" type="submit">Düzenle</button>
      <button *ngIf="!!id" class="form-button" mat-flat-button color="warn" (click)="onClickDeleteButton()">Sil</button>
    </div>
  </form>
</div>
