.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

.form-field {
  width: 100%;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.form-buttons > .form-button {
  margin-left: 12px;
  width: 100px;
}
