.container {
  height: 100%;
  min-width: calc(80vw - 48px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 48px;
}

.form {
  width: 100%;
}

.form-field {
  width: 100%;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.form-buttons > .form-button {
  margin-left: 12px;
  width: 100px;
}
