<div class="container">
  <div class="action">
    <div class="action-left">
      <button mat-flat-button color="primary">Ekle</button>
    </div>
    <div class="action-right">
      <mat-form-field>
        <mat-select placeholder="Sırala" [value]="sortBy" (selectionChange)="onSortByChange($event)">
          <mat-option value="name">İsim</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="list-header">
    <div class="list-header-item">
      <p>İsim</p>
    </div>
    <div class="list-header-item">
      <p>Ortalama Kullanım</p>
    </div>
    <div class="list-header-item">
      <p>Toplam Fiyat</p>
    </div>
    <div class="list-header-item">
      <p>Son Güncelleme</p>
    </div>
    <div class="list-header-item">
      <p>Aksiyon</p>
    </div>
  </div>
  <app-clinic-card *ngFor="let clinic of clinics.rows" [clinic]="clinic"></app-clinic-card>

  <mat-paginator [length]="clinics.count" [pageSize]="pageSize" (page)="onPageChanged($event)"> </mat-paginator>
</div>
