@import '_variables';

.container {
  padding: 36px 24px;
}

.action {
  display: flex;
  justify-content: space-between;
}

.list-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.list-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: $color-light-text;
}
