<div>
  <div class="add-button-wrapper">
    <button mat-flat-button color="primary" (click)="onClickAddButton()">Ekle</button>
  </div>

  <div class="header">
    <form>
      <mat-form-field>
        <input type="text" placeholder="Arama" matInput [formControl]="searchFormControl" />
      </mat-form-field>
    </form>
    <app-filter [sortableFieldsTexts]="sortableFieldsTexts" (onSortByChange)="onSortByChange($event)"></app-filter>
  </div>
  <app-list
    [data]="(_equipmentService.equipments | async).rows"
    [showableFields]="showableFields"
    [showableFieldsTexts]="showableFieldsTexts"
    [render]="render"
  ></app-list>
  <mat-paginator
    [length]="(_equipmentService.equipments | async).count"
    [pageSize]="pageSize"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</div>
