<div>
  <div class="header">
    <button mat-stroked-button color="primary" (click)="onClickAddButton()">Ekle</button>
    <form>
      <mat-form-field>
        <input type="text" placeholder="Arama" matInput [formControl]="searchFormControl" />
      </mat-form-field>
    </form>
    <app-filter [sortableFields]="sortableFields" (onSortByChange)="onSortByChange($event)"></app-filter>
  </div>
  <app-list [data]="(_equipmentService.equipments | async).rows" [showableFields]="showableFields"></app-list>
  <mat-paginator
    [length]="(_equipmentService.equipments | async).rows.length"
    [pageSize]="pageSize"
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</div>
